.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #a8a8a8;
  }
  
  .separator:not(:empty)::before {
    margin-right: .5em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .5em;
  }

input[type="email"] {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;   
}

input[type="password"] {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px;
}



